body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(244, 252, 255);
    margin: 0;
    padding: 0;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: auto;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    /* background-color: green; */
    width: 10%;
    padding-top: 20px;
    padding-left: 20px;
}
h1 {
    text-align: center;
    color: #ff0000;
}
h2 {
    line-height: 10px;
    text-align: center;
    color: #000000;
}
.container {
    /* max-width: 100%; */
    width: 80%;
    margin: 20px;
    margin-right: 15%;
    background-color: rgb(244, 252, 255);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #ff0000;
}

form {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.row img {
    flex: 1 1 auto;
    max-width: 100%;
    width: 200px;
    height: 180px;
    margin: 10px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.row img:hover {
    transform: scale(1.1);
}

.member {
    text-align: center;
    display: flex;
    flex-direction: column; /* Đảm bảo các nút xếp chồng lên nhau */
    align-items: center; /* Căn giữa các phần tử theo chiều ngang */
}

.member button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.member button:hover {
    background-color: #315f8d;
}

.logout-btn {
    position: absolute;
    top: 20px; /* điều chỉnh khoảng cách từ trên xuống */
    right: 10px; /* điều chỉnh khoảng cách từ phải sang trái */
}

.logout-btn button {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease-in-out;
}

.logout-btn button:hover {
    background-color: #cc0000;
}
/* Add the following styles to your existing CSS file */
.control_main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.university-info {
    flex-grow: 1;
}

.mechanical-logo, .bachkhoa-logo {
    width: 100px; 
    height: auto;
    margin-right: 20px; 
}

/* CSS cho màn hình lớn (desktop) */
@media screen and (min-width: 768px) {
    /* Thêm các quy tắc CSS ở đây */
    .h2{
        line-height: 10px;
        text-align: center;
        color: #000000;
    }
    .container {
        max-width: 1000px;
    }
}

/* CSS cho màn hình nhỏ (điện thoại di động) */
@media screen and (max-width: 767px) {
    /* Thêm các quy tắc CSS ở đây */
    .h2{
        line-height: 10px;
        text-align: center;
        color: #000000;
    }
    .container {
        max-width: 100%;
        padding: 10px;
    }
    .row {
        flex-direction: column;
    }
}

.title{
    text-align: center;
    line-height: 10px;
    
}
.title button{
    font-size: 20px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.title button:hover{
    background-color: #315f8d;
}

